.title {
    position: absolute; /* Positions the element absolutely */
    right: 50%; /* Positions the element 50% from the right */
    transform: translateX(50%); /* Centers the element horizontally */
    display: block;
    width: fit-content; /* Sets the width to fit the content */
    height: fit-content; /* Sets the height to fit the content */
    text-align: center; /* Centers text */
    background-color: #D6D3F0; /* Sets a specific background color */
    color: black; /* Sets text color */
    font-size: 0.8em;
}

#menuButtonContainer {
    display: flex; /* Uses flexbox layout */
    align-items: center; /* Centers the image vertically */
    justify-content: center; /* Centers the image horizontally */
}

/* Styles for the menu button */
#menuButton {
    background-color: #D6D3F0; 
    border: none; /* Removes border */
}

/* Styles for the menu bar */
#menuBar {
    position: absolute; /* Positions the element absolutely */
    width: 33vw; /* Sets the width to 33% of the viewport width */
    background-color:#A44200; /* Sets a specific background color */
    height: 100vh; /* Sets the height to 100% of the viewport height */
    z-index: 1; /* Sets the stack order */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out; /* Adds transition effects */
    text-align: center; 
    opacity: 0; /* Sets initial opacity to 0 */
    visibility: hidden; /* Sets initial visibility to hidden */
    font-size: 1.6em; /* Sets font size */
    cursor: pointer; /* Changes cursor to pointer */
    color: antiquewhite;
}

.menu-item {
    font-size: 1.4em; 
}

.menu-item:hover {
    background-color: #69140E; /* Changes background color on hover */
}

.menu-options {
    display: none; /* Hides the menu options */
}

.menu-options.visible {
    display: block; /* Displays the menu options */
}

.menu-header {
    border: solid; /* Adds a solid border */
    background-color: #69140E; 
    color: white; /* Sets text color */
}

#menuBar.view {
    transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out; /* Adds transition effects */
    opacity: 1; /* Sets opacity to 1 */
    visibility: visible; /* Sets visibility to visible */
}

#container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4fr; gap: 15px;
    width: auto; /* Set a fixed width */
    height: 500px; /* Set a fixed height */
    border: 2px solid black; /* Adds a border to make it look like a box */
    margin:  20px 10%; /* Adds spacing between divs */
    background-color: #D6D3F0; /* Sets a specific background color */
    color: black; /* Sets text color */
}

body {
    background-color: #6B5CA5; /* Sets the background color of the body */
    color: #EE7674; /* Sets the text color of the body */
}

p{
    font-size: 2em; /* Sets the font size of paragraphs */
}

.topicList img { /* Styles for images in the topicList class */
    width: 200px; /* Sets the width of images */
    height: 150px; /* Sets the height of images */ 
    margin: 10px; /* Adds margin around images */
}

.topicList img:hover {/* Styles for images in the topicList class when hovered on by mouse */
    transform: scale(1.2); /* Enlarges the image by 20% on hover */
    transition: transform 0.3s ease-in-out; /* Smooth animation for the transform */
}

h1 {
    text-align: center; /* Centers the text of h1 elements */
}

.topicList { /* Styles for the topicList class */
    display: flex; /* Displays items in a row */
    align-items: center; /* Centers items vertically */
    gap: 10px; /* Adds space between items */
    max-width: 800px; /* Sets a maximum width */
    margin: 0 auto; /* Centers the topicList div horizontally */
}

/* Default: Arrows beside images for screens wider than 800px */
.arrow {
    background-color: #D6D3F0; /* Sets background color of arrows */
    color: black; /* Sets text color of arrows */
    border: none; /* Removes default border */
    padding: 10px 15px; /* Adds padding top n bottom 10px, 15px right and left*/
    font-size: 20px; /* Sets font size of arrows */
    cursor: pointer; /* Changes cursor to pointer on hover */
}

.arrow:hover {
    background-color: rgb(214, 211, 240,0.8); /* Changes opacity of background color on hover */
}

