/*Only added a few comments because most are already answered in the other css adn html files*/
.main{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: 1fr 1fr; /* Two equal rows */
    width: 100vw; /* Full width of the viewport */
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
    background-color: #0F5257;
}

.title{
    text-align: center;
    justify-content: center;
    width:100%;
    height: 100%;
    color:#D6D3F0;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #D6D3F0;
    border: 20px solid #0B3142;
  }

h1{
    font-size: 3em;
    color: #C6B9CD;
    font-style: italic;
}

h2{
    font-size: 2.2em;
    color: #C6B9CD;
}


.header {
    background-color: rgb(11, 49, 66);
    color: #D6D3F0;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0F5257;
    padding: 20px;
    font-size: 2em;
    border: 5px solid #D6D3F0;
  }

  * {
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

#changePage{
    display: border;
    text-align: center;
    
    background-color: rgb(11, 49, 66);

}


.returnHomeButton{
    font-size: 50px;
    background-color: #0F5257;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.returnHomeButton img {
    width: 100px;
    height: 100px;
  }

  .returnHomeButton:hover {
    background-color: rgb(255, 255, 255,0.5);
  }

.arrow {
    background-color: #0F5257;

    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    font-size: 60px;
    cursor: pointer;
    border-radius: 10px;
}
.arrow:hover{
    background-color: rgb(255, 255, 255,0.5);
}


img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }


 #box1 {grid-column: 1; grid-row: 1; } /* Top-left */
  #box2 {grid-column: 2; grid-row: 1; } /* Top-right */
  #box3 {grid-column: 1; grid-row: 2; } /* Bottom-left */
  #box4 { grid-column: 2; grid-row: 2; } /* Bottom-right */