/*practically the sames as the Style.css sheet so I wont repeat*/
body {
    background-color: #B8B8D1;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-style: italic;
    color: #FFFFFB;
    font-size: 5em;
}

h2 {
    font-size: 3.5em;
    text-align: center;
}

p {
    font-size: 2.1em;
}

.main {
    display: flex;
    gap: 10px;
}

.left-content {
    flex: 3; /* Takes up 3/4 of the available space */
    display: flex;
    flex-direction: column; /*pretty much as says the things inside synopsis and review wont be in a row but in acolumn stacked on top each other*/
    gap: 10px;
}

#imdb {
    flex: 1; /* Takes up 1/4 of the available space */
    display: flex;
    flex-direction: column;
    background-color: #FFC145;
    max-height: 100%; /* Ensures the element does not exceed 100% height */
}

.box {
    border-radius: 20px;
}

#review {
    background-color: #FF6B6C;
    padding-left: 20px;
}


#video-synopsis {
    background-color: #5B5F97;
    display: grid;
    grid-template-columns: 1fr 2fr; /* Video takes 1/3, text takes 2/3 */
    gap: 15px;
}

/* Makes sure the video is at full posible length */
.video-container iframe {
    width: 100%;
    height: 100%;
}

#changePage{
    display: border;
    text-align: center;

}


.returnHomeButton{
    font-size: 50px;
    background-color: white;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.returnHomeButton img {
    width: 100px;
    height: 100px;
  }

  .returnHomeButton:hover {
    background-color: rgb(255, 255, 255,0.5);/*value on the right is for its opacity*/
  }

.arrow {
    background-color: white;

    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    font-size: 60px;
    cursor: pointer;
    border-radius: 10px;
}
.arrow:hover{
    background-color: rgb(255, 255, 255,0.5);
}